body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(Images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#link:hover {
  color: #F171AB;
}

#profile {
  font-size: 40px;
  color: black;
}

#des:hover {
  color: #F171AB;
}

#female {
  color: #F171AB;
}

#right {
 width: 100px;
 text-align: right;
 clear: both;
 padding: 10px;
}





#main {
  background-image: url("./Images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
#view {
  font-size: 1.1rem;
}





#pro {
 position: absolute;
 top:13%;
 left: 46%;
 font-size: 8em; 
 
}

#de:hover {
  color: #F171AB;
}

/* #back {
  width: 100px;
  height: 40px;
  font-size: 17px;
  background: rgb(200, 209, 218);
  
}

#add {
  width: 135px;
  height: 40px;
  background: rgb(200, 209, 218);
  font-size: smaller;
}

#arrow {
  width: 100px;
  height: 50px;
}

#plus {
  font-size: larger;
} */

.wrapper{
  width: 450px;
  height: 135px;
  margin: auto;
  margin-top: 200px;
  

  
  
  border-radius: 5px;
} 

label {
  float: left;
  width: 110px;
  text-align: right;
  padding: 10px;
}
button{
  position: absolute;
  bottom:20%;
  left: 44%;
 

}